$color-primary: #ff8a3d;
$color-primary--darker: #DF732D;
$color-primary--brighter: #FFC13D;
$color-border: #E9ECF3;
$color-text--primary: #263747;
$color-text--secondary: #98A8B9;
$color-text--disabled: #CDD7E0;
$color-shadow: rgba(20,20,50,.12);
$color-background: #FBFBFD;

body {
  padding: 0;
  margin: 0;
}

a {
  transition: .3s;
  
  &:hover {
    text-decoration: none;
  }
}

select {
  cursor: pointer;
}

.btn {
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}

.btn-primary {
  background-color: $color-primary;
  border-color: $color-primary;
  
  &:hover,
  &:active {
    background-color: $color-primary--darker !important;
    border-color: $color-primary--darker !important;
  }
  
  &:focus, &:active {
    box-shadow: 0 0 0 0.2rem $color-primary--brighter !important;
  }
}

.btn-light {
  color: $color-primary;
  background-color: #F7F7FB;
  
  &:hover,
  &:active {
    color: $color-primary--darker;
    background-color: #FFEADD !important;
    border-color: #FFEADD !important;
  }
  
  &:focus, &:active {
    color: $color-primary--darker !important;
    background-color: #FFEADD !important;
    border-color: #FFEADD !important;
    box-shadow: none !important;
  }
}

.text-muted {
  color: $color-text--secondary !important;
}

.form-group {
  margin-bottom: 24px;
  
  > label {
    display: block;
    font-size: 14px;
    margin-bottom: 4px;
  }
}

.form-control {
  &::-webkit-input-placeholder { /* Edge */
    color: $color-text--disabled;
  }
  
  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $color-text--disabled;
  }
  
  &::placeholder {
    color: $color-text--disabled;
  }
}

.form-check-inline {
  margin-right: 24px;
}

.form-check-label {
  cursor: pointer;
  line-height: 1;
}

.modal {
  .modal-header,
  .modal-body,
  .modal-footer {
    padding: 24px;
    border: 0;
  }
  
  .modal-title {
    font-weight: 700;
  }
}

.container-sm {
  max-width: 680px;
}

.form-control {
  border-color: $color-border;
}

.fixed-top + .container {
  padding-top: 120px;
}

footer {
  margin-top: 80px;
  padding: 80px 0;
  border-top: 1px solid $color-border;
  background-color: $color-background;
  color: $color-text--secondary;
  
  a {
    color: $color-text--primary;
    font-weight: 700;
    
    &:hover {
      color: $color-primary;
    }
  }
  
  a, h6 {
    font-size: 14px;
    line-height: 1.6;
  }
}

.container-sm ~ footer .container {
  @media (min-width: 576px) {
    max-width: 680px;
  }
}


.nav-global {
  background-color: white;
  box-shadow: 0 3px 5px $color-shadow;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 71px;
  
  .navbar-brand {
    display: inline-flex;
    font-size: 20px;
    line-height: 1;
    color: $color-primary;
    font-weight: 700;
    
    i {
      font-size: 20px;
    }
  }
  
  .img-brand {
    transform: translateY(-3px);
  }
  
  .navbar-nav {
    flex-direction: row;
    
    .nav-item {
      & + .nav-item {
        margin-left: 16px;
      }
      a, button {
        transition: .3s;
        display: inline-flex;
        vertical-align: middle;
        color: white;
        padding: 4px 16px;
        border-radius: 3px;
        background-color: $color-primary;
        border: 0;
      
        &:hover {
          background-color: $color-primary--darker;
        }
      
        &:focus {
          outline: none;
        }
      
        i {
          font-size: 20px;
        }
      }
    }
  }
}

.nav-global-sign {
  box-shadow: none;
}

.container-headline {
  font-size: 32px;
  text-align: center;
  margin: 0;
  
  &::after {
    content: '';
    width: 80px;
    height: 2px;
    background-color: $color-primary;
    display: block;
    margin: 40px auto;
  }
}

.categories-group {
  text-align: center;
  
  .btn-category {
    padding: 4px 20px;
    border-radius: 100px;
    border: 1px solid $color-border;
    margin-bottom: 8px;
  
    @media (max-width: 767px) {
      padding: 2px 16px;
      font-size: 14px;
    }
    
    &:hover {
      color: $color-primary;
      background-color: $color-background;
    }
    
    &:focus {
      box-shadow: none;
    }
  }
}

.list-products {
  list-style: none;
  padding: 0;
  margin-top: 40px;
  
  .list-products-item {
    padding-bottom: 30px;
  
    @media (max-width: 767px) {
      padding-bottom: 16px;
      
      & + .list-products-item {
        border-top: 1px solid $color-border;
        padding-top: 16px;
      }
    }
  }
  
  a {
    transition: .3s;
    display: block;
    color: $color-text--primary;
  
    @media (min-width: 768px) {
      &:hover {
        transform: translateY(-4px);
        box-shadow: 0 16px 16px -8px $color-shadow;
      }
    }
  }
  
  .card {
    border: 0;
    box-shadow: inset 0 0 0 1px $color-border;
  
    .card-img-top {
      box-shadow: inset 0 0 0 1px $color-shadow;
    }
    
    .title {
      font-size: 20px;
      font-weight: 700;
      line-height: 1.4;
      min-height: 72px;
    }
  
    .category {
      font-size: 14px;
      margin-bottom: 0;
      display: inline-block;
      color: $color-text--secondary;
    }
    
    time {
      float: right;
    }
    
    .price {
      color: $color-primary;
      font-weight: 700;
    }
    
    .text-muted {
      font-size: 14px;
      background-color: transparent;
      border-top: 0;
      padding-top: 0;
    }
  
    @media (max-width: 767px) {
      flex-direction: row;
      box-shadow: none;
      
      .card-img-top {
        min-width: 80px;
        max-width: 80px;
        min-height: 80px;
        max-height: 80px;
      }
      
      .card-body {
        padding-top: 0;
        padding-bottom: 0;
      }
      
      .title {
        min-height: unset;
      }
      
      .text-muted {
        padding-bottom: 0;
      }
    }
  }
}

.container-detail {
  img {
    border-radius: 3px;
  }
  
  .product-title {
    margin-top: 40px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
  }
  
  .product-price {
    margin-top: 12px;
    font-size: 20px;
    font-weight: 700;
    color: $color-primary;
  }
  
  .list-product-information {
    list-style: none;
    margin-top: 24px;
    padding: 0;
    border-top: 1px solid $color-border;
    font-size: 0;
    
    .list-item {
      display: inline-block;
      width: 50%;
      font-size: 12px;
      color: $color-text--secondary;
      padding: 8px 0;
      border-bottom: 1px solid $color-border;
      
      span {
        display: block;
        color: $color-text--primary;
        font-weight: 700;
        font-size: 16px;
      }
    }
  }
  
  .description {
    margin-top: 40px;
    p {
      font-size: 16px;
      line-height: 1.8;
    }
    
  }
}

.btn-filter {
  position: relative;
  
  &.active::after {
    content: '';
    position: absolute;
    right: -2px;
    top: -2px;
    width: 8px;
    height: 8px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: $color-primary;
    box-shadow: 0 0 0 2px $color-primary;
  }
}

.modal-filter {
  .slider {
    display: block;
    width: calc(100% - 16px);
    margin: 0 8px;
    
    .slider-track-low,
    .slider-track-high,
    .slider-handle,
    .slider-selection {
      background-image: none;
      box-shadow: none;
    }
    
    .slider-track-low, .slider-track-high {
      background-color: $color-border;
    }
    
    .slider-handle {
      background-color: $color-primary;
      cursor: pointer;
      background-image: none;
      
      &:hover {
        background-color: $color-primary--darker;
        
        box-shadow: 0 0 0 3px $color-primary--darker;
      }
      
      &:focus {
        outline: none;
      }
    }
    
    .slider-selection {
      background-color: $color-primary--brighter;
      box-shadow: none;
    }
  }
}

.file-box input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}

.file-box label {
  margin-bottom: 0;
  cursor: pointer;
}

.file-box .upload-name {
  margin-right: 12px;
  display: inline-block;
  padding: 9px 12px;
  font-size: inherit;
  font-family: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: $color-background;
  border: 1px solid $color-border;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-car-smoking > label {
  color: $color-text--secondary;
  margin-bottom: 12px;
}

.form-item-create {
  .btn-submit {
    display: block;
    margin: 80px auto 0;
  }
}

.container-sign {
  max-width: 400px;
}

.form-sign {
  margin: 80px 0;
  padding: 16px;
  border-radius: 16px;
}

.form-headline {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}

.txt-terms {
  margin-top: 56px;
  text-align: center;
  font-size: 14px;
  color: $color-text--secondary;
  
  a {
    color: $color-text--primary;
    
    &:hover {
      color: $color-primary;
    }
  }
}
