$color-primary: #ff8a3d;
$color-primary--hover: #ff8a3d;
$color-border: #D7E2EB;
$color-text-primary: #263747;
$color-text--secondary: #98A8B9;
$color-shadow: rgba(20,20,50,.12);
$color-background: #FBFBFD;

.fixed-top + .container {
  padding-top: 120px;
}

footer {
  padding: 80px 0;
}

.container-sm ~ footer .container {
  @media (min-width: 576px) {
    max-width: 576px;
  }
}

.nav-global {
  background-color: white;
  box-shadow: 0 3px 5px $color-shadow;
  padding-top: 12px;
  padding-bottom: 12px;
}


